.section{
    width: 100vw;
    --section-height: 50vh;

    height: var(--section-height);
    position: relative;
}

/* Door */
.door{
    position: absolute;
    display: grid;
    width: 100%;

    pointer-events: none;
    --animation-duration: 3s;
}

.door_element{
    position: relative;
    z-index: 100;
    background: var(--main-theme-color);
    height: calc(var(--section-height) / 2);
}

.upper_door{
    display: flex;
    align-items: flex-end;
    top: -10%;
}

.bottom_door{
    top: 10%;
}

.visible{}

.upper_door.visible{
    animation: move_upper_door var(--animation-duration);
    animation-fill-mode: forwards;
}
.bottom_door.visible{
    animation: move_bottom_door var(--animation-duration);
    animation-fill-mode: forwards;
}
            /*door teeth*/
.door img{
    width: 100%;
    position: relative;

    --teeth-offset: 12%;
}

.bottom_door > img{
    left: -2.1355vw;
    top: calc(var(--teeth-offset) * -1);

    rotate: 180deg;
}

.upper_door > img{
    top: var(--teeth-offset);
}
            /*door open animation*/
@keyframes move_upper_door {
    100%{
        top: -100%
    }
}
@keyframes move_bottom_door {
    100%{
        top: 100%
    }
}

/*Container content*/
.content{
    background: var(--main-reverse-color);
    height: 100%;

    color: var(--main-theme-color);
    padding: 9vh 0;
}

.title_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11vh;
}

.title_text{
    width: 25%;
    text-align: center;

    border-bottom: 1.2vh var(--main-theme-color) solid;
    padding-bottom: 2vh;
}

.brands_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}

.brand_option{
    position: relative;
    top: 0;


    background: var(--middle-color);
    --size: 5.6vw;

    width:  var(--size);
    height: var(--size);

    padding: .5vw;
    border-radius: 25%;
    border: 0.2vw transparent solid;

    transition: top 1s, border 1s;
}

.brand_option.active{
    top: calc(var(--size)/-2);
    border: 0.2vw var(--main-theme-color) solid;
}

.brand_option button {
    display: block;
}

.brand_option img{
    object-fit: cover;

    width: 100%;
    height: 100%;
}
