@import "../variables";
@import "../mixins";

.section{
    $section-height: 50vh;
    $teeth-height: 60%;

    width: 100vw;
    height: $section-height;
    position: relative;

    @include respond(tab-port){
        height: $section-height / 1.5;
    }
    @include respond(phone){
        height: $section-height * 1.2;
    }


    /* Container door */
    .door{
        $animation-duration: 3s;

        position: absolute;
        display: grid;
        width: 100%;
        height: 100%;

        pointer-events: none;
        user-select: none;

        img{
            width: 100%;
            position: relative;

            transform: translateY($teeth-height);

            @include respond(tab-port){
                transform: scale(2) translateY($teeth-height/2);
            }
        }

        %door_element{
            position: relative;
            z-index: 100;
            background: $main-theme-color;
        }

        .upper_door{
            @extend %door_element;
            display: flex;
            align-items: flex-end;
            top: -10%;

            &.visible{
                animation: move_upper_door $animation-duration;
                animation-fill-mode: forwards;
            }
        }

        .bottom_door{
            @extend %door_element;
            top: 10%;

            &.visible{
                animation: move_bottom_door $animation-duration;
                animation-fill-mode: forwards;
            }

            img{
                left: -2.1355vw;

                rotate: 180deg;
            }
        }
    }

    /*Container content*/
    .content{
        background: $main-reverse-color;
        height: 100%;

        color: $main-theme-color;
        padding: 9vh 0;
        overflow: scroll;

        //Tittle
        .title_box{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: $section-height * 0.15;

            &_text{
                width: 25%;
                text-align: center;

                border-bottom: 1.2vh $main-theme-color solid;
                padding-bottom: 2vh;
            }
        }

        //Brands list
        .brands_container{
            @include flex-center;
            gap: 1.5vw;

            @include respond(phone){
                display: grid;
                justify-content: center;
                align-items: center;

                grid-template-columns: 1fr 1fr 1fr 1fr;

                $space-between: 8vw;
                gap:  $space-between;
                padding:  $space-between;
            }

            .brand_option{
                $size: 5.6vw;

                position: relative;
                top: 0;
                width:  $size;
                height: $size;

                background: $middle-color;
                padding: .5vw;
                border-radius: 25%;
                border: 0.2vw transparent solid;

                transition: top 1s, border 1s;

                @include respond(phone){
                    width: 100%;
                    height: auto;
                }

                &.active{
                    top: $size/-2;
                    border: 0.2vw $main-theme-color solid;

                    @include respond(phone){
                        top: 0;
                    }
                }

                img{
                    object-fit: cover;

                    width: 100%;
                    height: 100%;
                }

                button {
                    display: block;
                }
            }
        }
    }
}

            /*door open animation*/
@keyframes move_upper_door {
    100%{
        top: -100%
    }
}
@keyframes move_bottom_door {
    100%{
        top: 100%
    }
}
