@import "../variables";

.section{
    width: 100vw;
    $section-height: 50vh;

    height: $section-height;
    position: relative;

    /* Container door */
    .door{
        $animation-duration: 3s;
        $teeth-image-offset: 12%;

        position: absolute;
        display: grid;
        width: 100%;

        pointer-events: none;
        user-select: none;

        img{
            width: 100%;
            position: relative;
        }

        %door_element{
            position: relative;
            z-index: 100;
            background: $main-theme-color;
            height: $section-height / 2;
        }

        .upper_door{
            @extend %door_element;
            display: flex;
            align-items: flex-end;
            top: -10%;

            &.visible{
                animation: move_upper_door $animation-duration;
                animation-fill-mode: forwards;
            }

            img{
                top: $teeth-image-offset;
            }
        }

        .bottom_door{
            @extend %door_element;
            top: 10%;

            &.visible{
                animation: move_bottom_door $animation-duration;
                animation-fill-mode: forwards;
            }

            img{
                left: -2.1355vw;
                top: $teeth-image-offset * -1;

                rotate: 180deg;
            }
        }
    }

    /*Container content*/
    .content{
        background: $main-reverse-color;
        height: 100%;

        color: $main-theme-color;
        padding: 9vh 0;

        //Tittle
        .title_box{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 11vh;

            &_text{
                width: 25%;
                text-align: center;

                border-bottom: 1.2vh $main-theme-color solid;
                padding-bottom: 2vh;
            }
        }

        //Brands list
        .brands_container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5vw;

            .brand_option{
                $size: 5.6vw;

                position: relative;
                top: 0;
                width:  $size;
                height: $size;

                background: $middle-color;
                padding: .5vw;
                border-radius: 25%;
                border: 0.2vw transparent solid;

                transition: top 1s, border 1s;

                &.active{
                    top: $size/-2;
                    border: 0.2vw $main-theme-color solid;
                }

                img{
                    object-fit: cover;

                    width: 100%;
                    height: 100%;
                }

                button {
                    display: block;
                }
            }
        }
    }
}

            /*door open animation*/
@keyframes move_upper_door {
    100%{
        top: -100%
    }
}
@keyframes move_bottom_door {
    100%{
        top: 100%
    }
}
