@import "../variables";

:export {
    main_reverse_color: $main-reverse-color;
    main_theme_color: $main-theme-color;
    middle_color: $middle-color;
    highlight_color: $highlight-color;
}

.container {
    $border-size: 1px;

    display: flex;

    img{
        border: $border-size solid $main-theme-color;
        border-right: none;
        padding: 0.5rem;
        object-fit: contain;
    }

    .select{
        flex-grow: 1;
        border: $border-size solid $main-theme-color;
    }
}
