:root {
  --main-reverse-color: white;
  --main-theme-color: black;
  --highlight_color: #E56915;

  --h1-size: 5vw;
  --max-h1-size: 96px;

  --h4-size: 1.17vw;
  --max-h4-size: 23px;


}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main-reverse-color);
  background: var(--main-theme-color);

  font-size: var(--h4-size);
  max-font-size: var(--max-h4-size);
}

a {
  color: inherit;
  text-decoration: none;
}
li{
  all: unset;
}

h1{
  font-family: Montserrat;
  font-size: var(--h1-size);
  font-max-size: var(--max-h1-size);
}

h4{
  font-size: var(--h4-size);
  font-max-size: var(--max-h4-size);
}


/*Custom styles*/
.color_text{
  color: var(--highlight_color);
}
