@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@import "variables";
@import "utilities";
@import "mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

%page{
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  @extend %page;

  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
}

body {
  @extend %page;

  color: $main-reverse-color;
  background: $main-theme-color;
}

a {
  color: inherit;
  text-decoration: none;
}

li{
  all: unset;
}

button{
  all: unset;

  cursor: pointer;
}

h1{
  font-family: Montserrat;
  font-size: 9.6rem;

  @include respond(phone) {
    font-size: 12vw;
  }
}

h2{
  font-size: 5.9rem;
  font-weight: 600;

  @include respond(phone) {
    font-size: 6vw;
  }
}
h3 {
  font-size: 3.1rem;
  font-weight: 400;

  @include respond(phone) {
    font-size: 4.5vw;
  }
}

body, h4{
  font-size: $main-font-size;

  @include respond(tab-port) {
    font-size: 3vw;
  }

  @include respond(phone) {
    font-size: 4vw;
  }
}
