.section{
    width: 100vw;
    height: 6vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;

    padding: 0 12vw;
    margin-top: 2vh;
}

/*logo*/
.logo_container{
    height: 100%;
    width: 10%;
}

.logo_icon{
    max-width: 100%;
}

/*Navigation options*/
.nav_options{
    height: 100%;
    width: 70%;

    display: flex;
}

.nav_option{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_option > a{
    text-align: center;

    width: auto;
    max-width: 100%;
    padding: 0.2vw;
}

.nav_option > a:hover{
    transition: background-color,color 0.25s linear;

    color: var(--main-theme-color);
    background: var(--main-text-color);
}

